In [37]:
import pandas as pd

In [38]:
customers = pd.read_csv('Customers.csv')

In [39]:
orders = pd.read_csv('Orders.csv')

In [40]:
transactions =pd.read_csv('transactions.csv')

In [41]:
merged_data=pd.merge(transactions,orders,on='order_id')

In [42]:
merged_data=pd.merge(merged_data,customers,on='customer_id')

In [43]:
# Filter orders with high-value transactions (sales > 150)

high_value_transactions = merged_data[merged_data['sales'] > 150]

In [44]:
result_df=high_value_transactions[['order_id','customer_id','sales']]
print(result_df)

            order_id customer_id    sales
0     CA-2016-152156    JB-15925  261.960
1     CA-2016-152156    JB-15925  731.940
6     CA-2014-124730    JB-15925  279.960
12    US-2014-109456    JB-15925  179.970
13    CA-2016-152765    JB-15925  173.488
...              ...         ...      ...
9808  CA-2017-165008    MV-18190  295.056
9810  CA-2017-118003    MV-18190  182.220
9811  CA-2017-118003    MV-18190  302.940
9812  CA-2017-102309    MV-18190  199.950
9815  US-2015-100069    MV-18190  269.980

[3024 rows x 3 columns]

In [45]:
result_df1 = high_value_transactions[['customer_id','sales']]
print(result_df1)

     customer_id    sales
0       JB-15925  261.960
1       JB-15925  731.940
6       JB-15925  279.960
12      JB-15925  179.970
13      JB-15925  173.488
...          ...      ...
9808    MV-18190  295.056
9810    MV-18190  182.220
9811    MV-18190  302.940
9812    MV-18190  199.950
9815    MV-18190  269.980

[3024 rows x 2 columns]